@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Spectral');
.nav{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    background:  #7acfd6;

}
/*navbar user*/
.nav .user{
    float: left;
    color: #f2f6f7;
    font-family: 'Spectral', serif;

}
.nav .user.login{
    display: none;

}
.nav .user .link{
    margin-right: 5px;

}
/*navbar link*/
.nav .nav-list{
    float: right;
    color: #f2f6f7;
    font-family: 'Spectral', serif;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
    color:#f2f6f7;
    font-family: 'Spectral', serif;
}
