.nav{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    background: #eee;
}
/*navbar user*/
.nav .user{
    float: left;

}
.nav .user.login{
    display: none;

}
.nav .user .link{
    margin-right: 5px;

}
/*navbar link*/
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
