<!DOCTYPE html>
<html>
<head
<%= require('html-loader!./layout/common-head.html') %>
<title></title>
</head>
<body>
<div>
     <%= require('html-loader!./layout/nav-simple.html')%>
    <a href='' class='link'>test</a>
    <a href='' class='link-text'>test link-text</a>
</div>
<div>
    <a href='' class='btn'>test button</a>
    <a href='' class='btn btn-mini'>test button mini</a>
    <i class='fa fa-user'></i>
</div>
<div class="loading"></div>
 <%= require('html-loader!./layout/common-footer.html')%>
</body>

</html>
