<!DOCTYPE html>
<html >
<head>
     <%=require( 'html-loader!./layout/common-head.html') %>
    <title>
        <%= htmlWebpackPlugin.options.title%> - Welcom to PhotoGarage </title>
</head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">PhotoGarage</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <ul class="sort-con">
                <li class="sort-item " data-type="default">Oder</li>
                <li class="sort-item active" data-type="price">
                    <span>Price</span>
                    <i class="fa fa-sort-asc"></i>
                    <i class="fa fa-sort-desc"></i>
                </li>
            </ul>
            <!-- list 容器 -->
            <ul class="p-list-con">
                
            </ul>
            <!-- 分页容器 -->
            <div class="pagination"></div>
        </div>
        <%= require('html-loader!./layout/common-footer.html')  %>
    </body>
</html>
