<!-- Load jQuery-->
<div class='footer'>
    <div class='w'>
        <div class='links'>

            <i class='fa fa-facebook'></i><a href='http://www.facebook.com' target="_blank" class='link'>Facebook</a>
            <i class="fa fa-google-plus"></i><a href='http://www.google.com' target="_blank" class='link'>Google</a>
            <i class="fa fa-linkedin"></i><a href='http://www.linkedin.com' target="_blank" class='link'>LinkedIn</a>
            <i class="fa fa-github-alt"></i><a href='http://www.github.com' target="_blank" class='link'>Github</a>
            <i class="fa fa-twitter"></i><a href='http://www.twitter.com' target="_blank" class='link'>Twitter</a>
        </div>
        <p class='copyright'>
            Copyright <i class="fa fa-copyright"></i> 2017 photogarage.io All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
