<div class='nav'>
    <div class='w'>
        <div class='user-info'>
            <span class='user before-login'>
                <span class='link js-login'>Login</span>
                <span class='link js-register'>Register</span>
            </span>
            <span class='user login'>
                <span class='link-text js-login'>
                    Welcome,
                    <span class='username'></span>
                </span>
                <span class='link js-logout'>Logout</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href='' class='link' href="./cart.html">
                    <i class='fa fa-shopping-cart'></i>
                    cart(<span class='cart-count'>0</span>)
                </a>
            </li>
            <li class="nav-item">

                <a href='' class='link' href="./order-list.html">my list</a>
            </li>
            <li class="nav-item">
                <a href='' class='link' href="./user-center.html">my center</a>
            </li>
            <li class="nav-item">
                <a href='' class='link' href="./about.html">about PG</a>
            </li>
        </ul>
    </div>
</div>
