@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans|Spectral');

.keywords-list{
    float: left;
    width: 140px;
    height: 250px;
    padding: 10px 0;
    margin-right: 10px;
    background: #7acfd6;
    color: #fff;
    font-family: 'Spectral', serif;
}
.keywords-list .keywords-item{
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    font-weight: bold;
}
.keywords-list .keywords-item:hover{
    background: #acc0c1;
}
.keywords-list .keywords-item .link{
    margin-right: 6px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.keywords-list .keywords-item .link:hover{
    color: #2a34c1;
    font-family: 'Josefin Sans', sans-serif;
}

/* banner-con */
.banner-con{
    width: 930px;
    float: left;
    height: 470px;
    background: #eee;
}
.banner-con .loading{
    margin-top: 150px;
}
.banner-con .banner-img{
    width: 100%;
    height: 570px;
}
/* banner的前一张和后一张按钮 */
.banner-con .banner-arrow{
    position: absolute;
    top:160px;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #ccc;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}
.banner-con .banner-arrow:hover{
    background: #aaa;
    background: rgba(0,0,0,.5);
}
.banner-con .banner-arrow.prev{
    left: 0;
}
.banner-con .banner-arrow.next{
    right: 0;
}
/* floor */
.floor-wrap .floor-title{
    height: 50px;
    line-height: 50px;
    color: #ea7359;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #ea7359;
}
/* 更改各楼层标题颜色 */
.floor-wrap:nth-child(2) .floor-title{
    color: #3b838c;
    border-bottom: 1px solid #3b838c;
}
.floor-wrap:nth-child(3) .floor-title{
    color: #a93931;
    border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
    color: #1c7c50;
    border-bottom: 1px solid #1c7c50;
}
.floor-wrap:nth-child(5) .floor-title{
    color: #c43a48;
    border-bottom: 1px solid #c43a48;
}
.floor-wrap:nth-child(6) .floor-title{
    color: #f45f42;
    border-bottom: 1px solid#f45f42;
}
.floor-wrap:nth-child(7) .floor-title{
    color: #52abd8;
    border-bottom: 1px solid #52abd8;
}
.floor-wrap:nth-child(8) .floor-title{
    color: #a341f4;
    border-bottom: 1px solid #a341f4;
}
.floor-wrap .floor-list{
    margin-right: -20px;
    overflow: hidden;
}
.floor-wrap .floor-list .floor-item{
    position: relative;
    width: 200px;
    height: 220px;
    margin: 15px 20px 15px 0;
    float: left;
    cursor: pointer;
    background: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
    box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text{
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    color: #555;
    font-family: 'Spectral', serif;
}
.floor-wrap .floor-list .floor-item .floor-img{
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;
}
